body {
    background-image: url("images/bgc.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{

    font-family: 'Satisfy', cursive;
}
.handler > img{
    width: 90%;
    height: 90%;
}
.caption{
    text-align: center;
}
