<!DOCTYPE html>
<html>
<head>
	<title>MAIN</title>
	<title>BIKE SITE</title>
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load staticfiles %}
     <link rel="stylesheet" type = "text/css" href="{%  static 'mypage/style_main.css'%}">

  	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	    <link rel="stylesheet" content = "text/css" href="style_main.css">
 	  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
 	  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class = "register">
			<a href="">Login/</a>
			<a href="">Register</a>
		</div>
		<div class="basic">
			<img id="my_photo" class="img-f" src="{% static 'mypage/images/hacker.png'%}">
			<br>
			
			<img id="krata" src="{% static 'mypage/images/sheet.png'%}">
			<a class="name">Filip Nożkiewicz</a>
			<div class="napisy">
			<a href="{% url 'mypage:games' %}">GAMES</a>
			<a href="{% url 'mypage:bikes' %}">BIKES</a>
			<a href="{% url 'mypage:linux' %}">LINUX</a>
			<a></a>
			</div>
		</div >
		<div class="symbols col-lg-12 col-sm-12 col-md-12 col-xs-12">
		<div class="xd">
			<img src="{%  static 'mypage/images/fb.png'%}">

			<form action="">
				<button class="but" >CHECK</button>
			</form>
		</div>
		<div class="xd">
			<img src="{%  static 'mypage/images/yt.png'%}">
			<form action="https://www.youtube.com/">
				<button class="but" >CHECK</button>
			</form>
		</div>
		<div class="xd">
			<img src="{%  static 'mypage/images/stack.png'%}">
			<form action="https://stackoverflow.com/users/9684575/filip-n">
				<button class="but" >CHECK</button>
			</form>
		</div>
		<div class="xd">
			<img src="{% static 'mypage/images/github.png'%}">
			<form action="https://github.com/Filipnoz8888">
				<button class="but" >CHECK</button>
			</form>
		</div>
		</div>
	</div>
</body>
</html>>