.header{
	font-size: 3vw;
	text-align: center;
	margin-top: 5px;
	background-color: #0CFFFFFF;
}
.head{
	height: 30%;
	width: 30%;
}
	
.fotka{
	
	width: 50%;
}
.basic{
	text-align: center;
	

}
.snake{
	background-color: #11FF11FF;
	padding-top: 5%;
	padding-bottom: 5%;

}
.tic-tac{
	background-color: #73FF7CFF;
	padding-top: 5%;
	padding-bottom: 5%;

}
.gallows{
	background-color: #FFE520FF;
	padding-top: 5%;
	padding-bottom: 5%;

}
.pong{
	background-color: #FFFC89FF;
	padding-top: 5%;
	padding-bottom: 5%;

}
.but{
	width: 50%;
	min-height: 40px;
	
}


